export TUTORIAL_HOME=/root/repos/drone-ci-101
export EXAMPLES_HOME="$TUTORIAL_HOME/examples"
#add this to escape the variable from envsubst
export DOLLAR='$'

export TUTORIAL_REGISTRY=my-registry.localhost:5001

## Docker Runner MTU
export DOCKER_CNI0_MTU=1410
export KUBECONFIG=~/.kube/config
